[Unit]
Description=RDSS python Monitor Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/sniffer/monitor
ExecStart=/usr/bin/env python3 monitor.py 

[Install]
WantedBy=multi-user.target
